<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite"  data-provider-thread-count="1">
    <test thread-count="2" name="Test">
        <classes>
            <class name="ecommerce.tests.RegistrationTest"/>
            <class name="ecommerce.tests.LoginTest"/>
            <class name="ecommerce.cucumber.CucumberTestRunner"/>

        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
